<html>
<head>
	<title>Main Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
	<h1>OEM Application Main Page</h1>
	<p>Logged in user: <span th:text="${loginUser}">Unknown User</span></p>
	<p>Logged in as: <span th:text="${loginAsUser}">Unknown User</span></p>
	<form method = "POST" action = "logout">
		<input class="button" type="submit" value="logout"/>
	</form>
	<div class="button-group">
		<a href="newForm" class="button">Edit New Form</a>
		<a href="uploadAppForm" class="button">Upload Application / Form</a>
	</div>
	<div class="button-group">
		<a href="listApplications" class="button">List Applications / Forms</a>
	</div>
	
</body>
</html>