<html>
<head>
	<title>Use Form With Data Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
	<a href="home"><< Back</a>
	<h1>OEM Outer Page</h1>
	<h2>Test Form With Data Initialization</h2>
	<h3 th:text="'Form Name: ' + ${formName}"></h3>
	
	<form method = "POST" action = "testFormWithData" enctype="multipart/form-data">
		 <input type="hidden" name="appId" th:value="${appId}">
		 <input type="hidden" name="formName" th:value="${formName}">
         <table>
            <tr>
               <span class="error-message" colspan="2" th:text="${errorMessage}"></span>
            </tr>
            <tr>
               <td><label>Form Data XML File</label></td>
               <td><input type="file" name="formDataFile"></td>
            </tr>
            <tr>
               <td></td>
               <td><input class="button" type="submit" value="Test Form"/></td>
            </tr>
         </table>  
      </form>	
</body>
</html>