<html>
<head>
	<title>Main Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
	<h1>OEM Application Main Page</h1>
	<p>Logged in user: <span th:text="${loginUser}">Unknown User</span></p>
	<p>Logged in as: <span th:text="${loginAsUser}">Unknown User</span></p>
	<form method = "POST" action = "logout">
		<input class="button" type="submit" value="logout"/>
	</form>
	<div class="button-group">
		<a href="newForm" class="button">Edit New Form</a>
		<a th:href="'testForm?lastFormName=' + ${lastFormName}" class="button">Test Form</a>
	</div>
	<div class="button-group">
		<a th:href="'downloadAppForm?type=download&lastFormName=' + ${lastFormName}" class="button">Download Application/Form</a>
		<a th:href="'selectAppForm?type=delete&lastFormName=' + ${lastFormName}" class="button">Delete Application/Form</a>
	</div>
	
</body>
</html>