html, input {
	background-color: #bbffff;
}

table {
  width: 50%;
}

.button {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}	


.data-table {
	border-collapse: collapse;
}
.data-table td, .data-table th {
	border: 1px solid #ddd;
  	padding: 8px;
}
.data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
