<html>
<head>
	<title>Edit Form Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
	<a href="home"><< Back</a>
	<h1>OEM Outer Page</h1>
	<h2 th:text="'Editing Form: ' + ${formName}">Editing Form: Unknown</h2>

	<iframe width=1280 height=800 th:id="${iframeId}" th:src="${iframeSrc}">
	
</body>
</html>