<html>
<head>
	<title>Edit Form Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
	<a href="home"><< Back</a>
	<h1>OEM Outer Page</h1>
	<h2 th:text="'Editing Form: ' + ${formName}">Editing Form: Unknown</h2>

 	<form id="submitForm" method = "POST" action = "submitForm">
 		<input name="actionType" type="hidden"/>
 		<input type="submit" value="Save Form" onclick="document.querySelector('input[name=actionType]').value='save';document.querySelector('#submitForm').submit();" />
 		<input type="submit" value="Finish and Save Form" onclick="document.querySelector('input[name=actionType]').value='finish';document.querySelector('#submitForm').submit();" />
 		<input type="submit" value="Cancel Form" onclick="document.querySelector('input[name=actionType]').value='cancel';document.querySelector('#submitForm').submit();" />
  	</form>
	<iframe width=1280 height=800 th:id="${iframeId}" th:src="${iframeSrc}">
	
</body>
</html>