<html>
<head>
	<title>Main Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
	<h1>OEM Application Main Page</h1>
	<p>Logged in user: <span th:text="${loginUser}">Unknown User</span></p>
	<p>Logged in as: <span th:text="${loginAsUser}">Unknown User</span></p>
	<form method = "POST" action = "logout">
		<input type="submit" value="logout"/>
	</form>
	<a href="newForm">Edit New Form</a>
	
</body>
</html>