<html>
<head>
	<title>Form Submission Data Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
	<a href="home"><< Home</a>
	<h1 th:text="'Submission Data Parts for Form: ' + ${formName}"></h1>

	<table class="data-table">
		<tr>
			<th>Content Type</th>
			<th>Content Disposition</th>
			<th>Data</th>
		</tr>
		<tr th:each="part : ${formData}">
			<td th:text=${part.contentType}>--</td>
			<td th:text=${part.contentDisposition}>--</td>
			<td th:text=${part.data}>--</td>
		</tr>
	</table>	
</body>
</html>