<html>
<head>
	<title>Test Form Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
	<a href="home"><< Back</a>
	<h1>OEM Outer Page</h1>
	<h2 th:text="'Testing Form: ' + ${formName}">Testing Form: Unknown</h2>

 	<form id="submitForm" method = "POST" action = "submitUseModeForm">
 		<input name="actionType" type="hidden"/>
 		<input name="formName" type="hidden" th:value="${formName}"/>
 		<input class="button" type="submit" value="Cancel Form" onclick="document.querySelector('input[name=actionType]').value='cancel';document.querySelector('#submitForm').submit();" />
 		<input class="button" type="submit" value="Submit Form" onclick="document.querySelector('input[name=actionType]').value='submit';document.querySelector('#submitForm').submit();" />
  	</form>
	<div id="wrapper">
		<script th:src="${formUrl}" type="text/javascript"></script>
	</div>
	
</body>
</html>