<html>
<head><title>Main Page</title></head>
<body>
	<h1>Logged In!</h1>
	<p>Logged in user: <span th:text="${loginUser}">Unknown User</span></p>
	<p>Logged in as: <span th:text="${loginAsUser}">Unknown User</span></p>
	<form method = "POST" action = logout>
		<input type="submit" value="logout"/>
	</form>
	
</body>
</html>