<html>
<head>
	<title>Test Form Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
	<a href="home"><< Back</a>
	<h1>OEM Outer Page</h1>
	<h2 th:text="'Testing Form: ' + ${formName}">Testing Form: Unknown</h2>

	<div id="wrapper">
		<script th:src="${formUrl}" type="text/javascript"></script>
	</div>
	
</body>
</html>