<html>
<head>
	<title>Application/Form List Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
	<a href="home"><< Home</a>
	<h1>OEM (Frevvo) Application/Form Listing Page</h1>

	<table class="data-table">
		<tr>
			<th>Frevvo Application Name</th>
			<th>Frevvo Form Name</th>
			<th>Test</th>
			<th>Download</th>
			<th>Delete</th>
		</tr>
		<tr th:each="app : ${appList}">
			<td th:text=${app.get('app-name')}>--</td>
			<td th:text=${app.get('form-name')}>--</td>
			<td>
				<form method = "POST" action = "testForm">	
 					<input name="appId" type="hidden" th:value="${app.get('app-id')}"/>
 					<input name="formName" type="hidden" th:value="${app.get('form-name')}"/>
					<input class="button" type="submit" value="Test Form"/>
				</form>		
			</td>
			<td>
				<a th:href="'downloadApp?appId='+ ${app.get('app-id')} +'&formName=' + ${app.get('form-name')}" class="button">Download Application/Form</a>
			</td>
			<td>
				<form method = "POST" action = "deleteApp">	
 					<input name="appId" type="hidden" th:value="${app.get('app-id')}"/>
 					<input name="formName" type="hidden" th:value="${app.get('form-name')}"/>
					<input class="button" type="submit" value="Delete Application/Form"/>
				</form>		
			</td>
		</tr>
	</table>	
</body>
</html>