<html>
<head>
	<title>Create New Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
	<a href="home"><< Back</a>
	<h1>OEM Outer Page</h1>
	<h2>Create New Form</h2>
	
	<form method = "POST" action = "createAndEditForm" enctype="multipart/form-data">
         <table>
            <tr>
               <span class="error-message" colspan="2" th:text="${errorMessage}"></span>
            </tr>
            <tr>
               <td><label>Form Name</label></td>
               <td><input name="formName" th:value="${formName}"/></td>
            </tr>
            <tr>
               <td><label>From Schema</label></td>
               <td><input type="checkbox" name="fromSchema" th:checked="${fromSchema}"/></td>
            </tr>
            <tr>
               <td><label>Schema</label></td>
               <td><input type="radio" name="schemaSource" th:checked="(${schemaSource} == 'system')" value="system"> Use Builtin System Test Schema</td>
            </tr>
            <tr>
               <td><label> </label></td>
               <td><input type="radio" name="schemaSource" th:checked="(${schemaSource} == 'upload')" value="upload"> Upload Schema</td>
            </tr>
            <tr>
               <td><label>XSD Zip File</label></td>
               <td><input type="file" name="schemaFile"></td>
            </tr>
            <tr>
               <td><label>Schema Name</label></td>
               <td><input name="schemaName" th:value="${schemaName}"/></td>
            </tr>
            <tr>
               <td><label>Root XSD File</label></td>
               <td><input name="rootXsdFile" th:value="${rootXsdFile}"/></td>
            </tr>
            
            <tr>
               <td></td>
               <td><input class="button" type="submit" value="Create and Edit Form"/></td>
            </tr>
         </table>  
      </form>	
</body>
</html>