<html>
<head>
	<title>Upload Application/Form Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
	<a href="home"><< Back</a>
	<h1>OEM Outer Page</h1>
	<h2>Upload Application/Form</h2>
	
	<form method = "POST" action = "uploadApp" enctype="multipart/form-data">
         <table>
            <tr>
               <span class="error-message" colspan="2" th:text="${errorMessage}"></span>
            </tr>
            <tr>
               <td><label>Overwrite Any Existing App</label></td>
               <td><input type="checkbox" name="replace" th:checked="${replace}"/></td>
            </tr>
            <tr>
               <td><label>Application Zip File</label></td>
               <td><input type="file" name="applicationFile"></td>
            </tr>
            <tr>
               <td></td>
               <td><input class="button" type="submit" value="Upload"/></td>
            </tr>
         </table>  
      </form>	
</body>
</html>