<html>
<head>
	<title>Test Form Page</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
	
	<script th:inline="javascript">
		function verifyAndSubmit() {
			document.querySelector('input[name=actionType]').value='submit';
			
			// 
			// When it is time to submit, first post the challenge message to the frevvo iFrame 
			//  so that it will do any captcha challenge if configured for the form/flow.
			//
			var targetOrigin = /*[[${protocol}+ ${#strings.unescapeJavaScript('://')} + ${hostName} + ':' + ${port}]]*/ 'http://localhost:80';
			document.querySelector('#my-test-form').contentWindow.postMessage({type:"challenge"}, targetOrigin);
			return false;
		}
		function onVerifyChallenge(e) {
			// 
			// After the challenge is complete, a 'challenge-response' type message is sent back.
			//  e.data.response = {verificationRequired:true/false, verified:true/false}
			//  If verificationRequired and not verified, then do not submit, otherwise siubmit
			//
			console.log(e);
			var targetOrigin = /*[[${protocol}+ ${#strings.unescapeJavaScript('://')} + ${hostName} + ':' + ${port}]]*/ 'http://localhost:80';
			if (e.data.type == "challenge-response" && e.origin === targetOrigin)  {
				if (!e.data.response.verificationRequired || e.data.response.verified)
					document.querySelector('#submitForm').submit();
			}
		}
		window.addEventListener("message", onVerifyChallenge);
	</script>
	
</head>
<body>
	<a href="home"><< Back</a>
	<h1>OEM Outer Page</h1>
	<h2 th:text="'Testing Form: ' + ${formName}">Testing Form: Unknown</h2>

 	<form id="submitForm" method = "POST" action = "submitUseModeForm">
 		<input name="actionType" type="hidden"/>
 		<input name="formName" type="hidden" th:value="${formName}"/>
 		<input class="button" type="submit" value="Cancel Form" onclick="document.querySelector('input[name=actionType]').value='cancel';document.querySelector('#submitForm').submit();" />
 		<input class="button" type="submit" value="Submit Form" onclick="return verifyAndSubmit();" />
  	</form>
	<div id="wrapper">
	    <!-- Give the frevvo generated iFrame a specific id that we can use to find it -->
		<script th:src="${formUrl}+'&id=my-test-form'" type="text/javascript"></script>
	</div>
	
</body>
</html>